.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer__text {
  line-height: 30px;
  color: #ffffff;
}

.footer__quick-links ul li {
  background: transparent;
}

.footer__quick-links ul li a {
  color: #ffffff;
}

.quick__links-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 1.1rem;
}

.footer__contact li p,
.footer__contact li span {
  color: #ffffff;
}

.footer__contact li span {
  font-size: 1.2rem;
}

.footer__contact li p {
  font-size: 0.9rem;
}

.footer__copyright {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 50px;
  text-align: center;
}
